# Mac specific bindings
'.platform-darwin .editor':
    'cmd-shift-m': 'mark-ring:mark-or-recall'
    'cmd-shift-v': 'mark-ring:view-all'

# Linux and Windows specific bindings
'.platform-linux .editor, .platform-win32 .editor':
    'ctrl-shift-m': 'mark-ring:mark-or-recall'
    'ctrl-shift-v': 'mark-ring:view-all'
